{% extends 'base.html.twig' %}

{% block body %}
    <div><form name="register" action="{{ path('user_register') }}" method="post">
            Email: <input type="text" name="user[email]"/><BR />
            Password: <input type="text" name="user[password]"/><BR />
            First Name: <input type="text" name="user[firstName]"/><BR />
            Last Name: <input type="text" name="user[lastName]"/><BR />
            I am: {{ form_widget(form.gender) }}<BR />
            Birth Date: <input type="date" min="1918-01-01" max="2000-12-31" name="user[birthDate]"/><BR />
            Country: {{ form_widget(form.country) }}<BR />
            City: {{ form_widget(form.city) }}<BR />

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('register') }}"/>
            <input type="submit" value="Register"/>
        </form></div>


{% endblock %}
