{% extends 'base.html.twig' %}

{% block main %}

    {% for message in pagination %}
        {% if not message.reader %}
        <p><a href="{{ path('user_current_message', {'id': message.id}) }}">
                {{ message.sender.email }}</a>

            <span style="float: right; color: red">Unread</span> </p>

        <hr />
        {% else %}
            <p><a href="{{ path('user_current_message', {'id': message.id}) }}">
                    {{ message.sender.email }}</a>

                <span style="float: right; color: green">Readed</span> </p>

        {% endif %}

    {% endfor %}

    {# display navigation #}
    <div class="navigation text-center">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}

