{% extends 'base.html.twig' %}

{% block main %}

    {% for msg in app.session.flashbag.get('message') %}
        <div id="msg" class="alert alert-success">
            {#<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>#}
            {{ msg }}
        </div>
    {% endfor %}

    <p>From: {{ message.sender.fullName }}</p>
    <p>About: {{ message.about }}</p>
    <p>Content: {{ message.content }}</p>
    <small>Date: {{ message.dateAdded|date("F jS \\a\\t g:ia", 'Europe/Sofia') }}
    </small>


    <h1>Add Message: </h1>
    <button class="btn btn-success btn-sm" id="btnMessage">Add</button>

    <div id="form">
    </div>


    <script>

        let form = $(`
            <form method="post">
                About: <input type="text" name="message[about]"><br />
                Content: <textarea rows="10" name="message[content]"></textarea><br />
                {{ form_row(form._token) }}
                <input type="submit" value="Send"><br />
            </form>
        `);

        $('#btnMessage').click(function (e) {
            e.preventDefault();
            $('#form').append(form);
            $('#form').toggle();
        })
    </script>

{% endblock %}

